<form #formRef="ngForm" (ngSubmit)="onSave(formRef.value)">
    <app-card>
  
  
  <div class="form-group">
    <label>Name:</label>
    <input type="text" class="form-control" 
           [ngModel]="playlist.name" 
          name="name" #nameRef="ngModel" />

    {{ nameRef.value?.length }} / 170
  </div>

  <div class="form-group">
    <label>Favorite:</label>
    <input type="checkbox" [ngModel]="playlist.favorite" name="favorite" />
  </div>

  <div class="form-group">
    <label>Color:</label>
    <input type="color" [ngModel]="playlist.color" name="color" />
  </div>

  <input ngProjectAs="footer" type="button" class="btn btn-danger" value="Cancel" (click)="onCancel()" />
  <input ngProjectAs="footer" type="submit" class="btn btn-success" value="Save" />
  
  
  </app-card>
</form>