<!-- https://getbootstrap.com/docs/4.3/components/card/#card-groups -->

<div class="card-group">
  <app-album-card
    [album]="result"
    *ngFor="let result of results trackBy trackFn"
  ></app-album-card>
</div>

<style>
  app-album-card {
    min-width: 25%;
    max-width: 25%;
  }
</style>

<!-- .card-group>.card>img.card-img-top+.card-body>h5.card-title{Card title} -->
