<!-- .row>.col*2 -->
<div class="row">
  <div class="col">
<!-- 
    <app-svg-map [map]="mapaPolski" [data]="data"
                 [selected]="woj" (selectedChange)="$event">
    </app-svg-map> -->

    <app-items-list
      [items]="playlists$ | async"
      [selected]="selected$ | async "
      (selectedChange)="select($event)"
    >
    </app-items-list>
  </div>

  <div class="col">
    <div [ngSwitch]="mode" *ngIf="selected$ | async as selected">
      <app-playlist-details
        *ngSwitchDefault
        [playlist]="selected"
        (edit)="edit()"
      >
      </app-playlist-details>

      <app-playlist-form
        *ngSwitchCase="'edit'"
        [playlist]="selected"
        (cancel)="cancel()"
        (save)="save($event)"
      >
      </app-playlist-form>
    </div>
  </div>
</div>

<!-- 
  <ng-template [ngIf]="mode === 'show' " 
  [ngIfThen]="showRef" 
  [ngIfElse]="formRef"></ng-template>

<div *ngIf="mode === 'show' then showRef else formRef"></div> -->
