// :host ::ng-deep p{
//   color: hotpink;
// }
// @import 'variables';

// ::ng-deep list-item{
//   p{
//     color: hotpink;
//   }
// }

.list-group-item{
  border-left: 10px solid;
}


:host-context(.holiday-theme) p{
  color: hotpink;
}

:host(.activated){
  display: block;
  border:1px solid black;
}